@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #faf7f2;
}

.input {
  display: block;
  max-width: 400px; /* ← 追加 */
  width: 100%;
  padding: 1rem;
  margin: 0 auto 1rem auto; /* ← 左右中央寄せ */
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  text-align: center; /* ← 入力文字も中央 */
}
